<!-- <div>contenido de la nosotros page</div> -->


<div class="grid-container">
  <div class="grid-header"><h1>header</h1></div>
  <div class="grid-content">
    <h2>practica de css grid layout</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe excepturi impedit at vel ipsum, minima harum soluta asperiores facilis nobis, porro dolore dignissimos quae officia pariatur aspernatur quasi eos quibusdam.</p>
  </div>
  <div class="grid-sidebar">
    <h2>sidebar</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, atque impedit repellat maiores aperiam iusto soluta accusantium dicta magnam modi recusandae pariatur, est molestias explicabo, laborum reiciendis adipisci numquam ut!
    </p>
  </div>
  <div class="grid-footer"><h3>footer</h3></div>
</div>


<!-- <img src="<%# require('../assets/images/party-girl.jpg') %>" alt="" />
<img src="<%# require('../assets/images/instagram.png') %>" alt="" /> -->
