<div class="accordion-container">
  <ul class="accordion__list">
    <li class="accordion__item">
      <button class="accordion__button first-child">
        <h2 class="accordion__label">¿Item sit amet consectetur adipisicing?</h2>
        <svg class="arrow-down" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="1rem" height="1rem" viewBox="0 0 20 20" transform="rotate(360)"><path d="M5 6l5 5 5-5 2 1-7 7-7-7z" fill="#3e3e3e"/></svg>
      </button>
      <div class="accordion__panel" hidden>
        <p class="accordion__text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non temporibus quos commodi vel animi blanditiis moles
      </p>
    </div>
    </li>
    <li class="accordion__item">
      <button class="accordion__button">
        <h2 class="accordion__label">¿Item sit amet consectetur adipisicing?</h2>
        <svg class="arrow-down" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="1rem" height="1rem" viewBox="0 0 20 20" transform="rotate(360)"><path d="M5 6l5 5 5-5 2 1-7 7-7-7z" fill="#3e3e3e"/></svg>
      </button>
      <div class="accordion__panel" hidden>
        <p class="accordion__text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non temporibus quos commodi vel animi blanditiis moles
      </p>
    </div>
    </li>
    <li class="accordion__item">
      <button class="accordion__button last-child">
        <h2 class="accordion__label">¿Item sit amet consectetur adipisicing?</h2>
        <svg class="arrow-down" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="1rem" height="1rem" viewBox="0 0 20 20" transform="rotate(360)"><path d="M5 6l5 5 5-5 2 1-7 7-7-7z" fill="#3e3e3e"/></svg>
      </button>
      <div class="accordion__panel" hidden>
        <p class="accordion__text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non temporibus quos commodi vel animi blanditiis moles
      </p>
    </div>
    </li>
  </ul>
</div>