<section class="alert-container">
  <div class="alert">
    <p class="alert__message">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo</p>
    <div class="alert__button-wrapper">
      <button class="button">Default</button>
    </div>
  </div>
  <div class="alert alert--info">
    <p class="alert-info__message">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo</p>
    <div class="alert__button-wrapper">
      <button class="button button--info">Info</button>
    </div>
  </div>
  <div class="alert alert--success">
    <p class="alert-success__message">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo</p>
    <div class="alert__button-wrapper">
      <button class="button button--success">Succes</button>
    </div>
  </div>
  <div class="alert alert--warning">
    <p class="alert-warning__message">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo</p>
    <div class="alert__button-wrapper">
      <button class="button">Cancelar</button>
      <button class="button button--warning">Warning</button>
    </div>
  </div>
  <div class="alert alert--error">
    <p class="alert-error__message">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo</p>
    <div class="alert__button-wrapper">
      <button class="button button--error">Error</button>
    </div>
  </div>
</section>
